.container {
    border-radius: 5px;
    background-color: #1d45b3;
    padding: 10px;
    padding-bottom: 10px;
    width: 100%;
    height: auto;
    position: relative;
    z-index: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 10px;
}


body {
    padding: 5px;
    font-family: "Trebuchet MS";
    color: #333333;
    background-color: #F9F3EC;
}

#leftarrow, #rightarrow {
    background: #000000;
    color: white;
    position: absolute;
    z-index: 30;
    text-align: center;
    height: 135px;
    width: 40px;
    top: 85px;
    border-radius: 5px;
}

article {
    line-height: 1;
    width: 960px;
    margin: 0 auto;
    font-family: "Trebuchet MS";
    background: black;
    position: relative;
}

    article div:hover {
        cursor: default;
    }

a:hover {
    text-decoration: none;
    color: inherit;
}

h2 {
    text-align: center;
    font-size: 3em;
    color: #0000FF;
    margin-top: 1em;
    margin-bottom: 1em;
}

#leftarrow {
    left: 0;
}

#rightarrow {
    right: 0;
}

#fiveButton {
    display: block;
    width: 100%;
    position: absolute;
    top: 290px;
    color: white;
    text-align: center;
}

    #fiveButton p {
        width: 20%;
        margin: 0 auto;
        line-height: 2em;
        margin-top: 1em;
        background: #996633;
        border-radius: 5px;
    }

#leftarrow p, #rightarrow p {
    position: relative;
    top: 50%;
    margin-top: -0.5em;
}

figure {
    position: absolute;
    -webkit-box-shadow: 10px 0px 5px rgb(50, 50, 50), -10px 0px 5px rgb(50, 50, 50);
    -moz-box-shadow: 10px 0px 5px rgb(50, 50, 50), -10px 0px 5px rgb(50, 50, 50);
    box-shadow: 10px 0px 5px rgb(50, 50, 50), -10px 0px 5px rgb(50, 50, 50);
}

#fig2 {
    z-index: 10;
    left: 13%;
    top: 34px;
}

#fig3 {
    z-index: 20;
    left: 50%;
    margin-left: -240px;
    top: 0;
}

#fig4 {
    z-index: 10;
    right: 13%;
    top: 34px;
}


.favs {
    color: #0000FF;
    border: 3px solid #0000FF;
    border-radius: 8px;
    margin-top: 28em;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 960px;
    text-align: center;
    top: 150px;
}

    .favs .favsPara {
        margin-top: .5em;
        margin-bottom: .5em;
        font-size: 1.8em;
        font-weight: normal;
        font-variant: small-caps;
        text-transform: capitalize;
    }

    .favs div {
        display: inline-block;
        border: 3px solid #0000FF;
        border-radius: 8px;
        overflow: hidden;
        vertical-align: top;
        text-align: center;
        margin-left: .5em;
        margin-right: .5em;
        margin-bottom: 1em;
    }

    .favs button {
        font-size: 1em;
        border-radius: 5px;
    }


.row {
    content: "";
    display: table;
    clear: both;
    width: 90%;
    margin: auto;
    margin-top: 15px;
}

.nav {
    height: 60px;
    width: 100%;
    margin: auto;
    margin-bottom: 40px;
    position: relative;
}

    .nav > .nav-header {
        display: inline;
    }

        .nav > .nav-header > .nav-title {
            display: inline-block;
            font-size: 30px;
            color: #fff;
            padding: 5px 10px 5px 10px;
        }

    .nav > .nav-btn {
        display: none;
    }

    .nav > .nav-links {
        display: inline;
        float: right;
        font-size: 25px;
    }

        .nav > .nav-links > a {
            display: inline-block;
            padding: 5px 10px 5px 10px;
            text-decoration: none;
            color: #fff !important;
            font-size: 20px !important;
            line-height: 30px !important;
            text-transform: uppercase;
            font-weight: 700;
        }
